[submodule "Sample_Submission"]
	path = Sample_Submission
	url = https://github.com/abhiyaan-apps/Sample_Submission.git
	branch = main
[submodule "me22b205"]
	path = me22b205
	url = https://github.com/ANARCHY-ME-205/ABHIYAAN_TASKS.git
[submodule "ep22b030"]
	path = ep22b030
	url = https://github.com/joel-kallarackal/ep22b030.git
[submodule "me22b189"]
        path = me22b189
	url = https://github.com/Sanidhya-M03/me22b189.git
